@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #8553ad;
    --secondary-color: #e9d6ff;
    --background: #c799ee;
    --font: #5b2e80;
}

html,
body {
    height: 100vh;
    margin: 0;
}


body {
    background-image: url(https://live.staticflickr.com/65535/54301172330_4190f881b2_o.png);
    background-position: center;
    background-size: cover;
    display: flex;
}

p {
    margin: 0;
}

a {
    color: #FFFFFF;
}

input {
    height: 40px;
}

button {
    all: unset;
}

.home {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.left-bar {
    background-color: var(--primary-color);
    width: 33.75rem;
    height: 100vh;
}

.infos {
    padding: 4rem;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Poppins", serif;
}

#cadastro {
    margin: auto;
    padding: 2rem;
}

.saudation {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
}

.saudation img {
    padding-right: 10px;
}

.welcome {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.presentation {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#planet {
    position: absolute;
    top: 0;
    right: 0;
}

.name {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 0.9;
}

#fics {
    font-size: 8.125em;
    color: var(--primary-color);
}

#verse {
    font-size: 9.375em;
    text-shadow: 0px 0px 90px var(--primary-color);
    -webkit-text-stroke: 1.5px var(--primary-color);
}

.slogan-box {
    background-color: var(--primary-color);
    border-radius: 50px;
    display: inline-block;
    text-align: center;
}

.slogan {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
}

.inputs {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    margin-top: 4.25rem;
    font-size: 16px;
}

#email,
#senha,
#user_name {
    margin-bottom: 24px;
    border: none;
    border-radius: 4px;
}

.inputs a {
    display: flex;
    justify-content: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.button {
    text-align: center;
    margin-bottom: 36px;
    height: 40px;
    border-radius: 4px;
    font-weight: 500;
}

#login {
    margin-top: 20px;
    background-color: #e9d6ff;
    color: var(--primary-color);
}

#google {
    background-color: #ba7dff;
}

@media screen and (max-width: 1100px) {
    .home {
        flex-direction: column-reverse;
    }

    #planet {
        max-width: 250px;
        height: auto;
    }

    .slogan {
        font-size: 20px;

    }

    #fics {
        font-size: 100px;
    }

    #verse {
        font-size: 120px;
    }

    .left-bar {
        width: 100%;
    }

    #cadastro {
        padding: 52px;
    }

    #cad {
        display: flex;
        justify-content: flex-start;
    }

}


@media screen and (max-width: 480px) {

    input {
        height: 28px;
    }

    .saudation {
        font-size: 28px;
    }

    .infos {
        padding: 10px;
        margin-top: 20px;
    }

    .welcome {
        font-size: 16px;
    }

    #planet {
        display: none;
    }

    .inputs {
        margin-top: 0;
        font-size: 12px;
    }

    #email,
    #senha,
    #user_name {
        margin-bottom: 4px;
    }

    .button {
        margin-bottom: 4px;
        height: 28px;
    }

    #cadastro {
        padding: 20px;
    }

    #fics {
        font-size: 80px;
    }

    #verse {
        font-size: 100px;
    }

    .slogan {
        font-size: 16px;

    }
}